*,
::before,
::after {
	line-height: inherit;

	background-repeat: no-repeat;

	box-sizing: inherit;

	tab-size: inherit;
}

html,
body {
	height: 100%;
}

html {
	height: 100%;

	overflow-y: scroll;

	font-size: 100.01%;
	line-height: 1.5;

	text-size-adjust: 100%;

	background-color: rgb(51, 53, 101);

	box-sizing: border-box;

	tab-size: 4;
}

body {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

	text-align: center;

	color: #ffffff;
}

[role='banner'],
main,
[role='contentinfo'] {
	width: 100%;
	max-width: 1024px;

	padding: 1.5em;
	margin-right: auto;
	margin-left: auto;
}

main {
	padding-top: 4.5em;
	padding-bottom: 393px;
	padding-bottom: calc(345px + 4.5em);
	margin-bottom: 1.5em;

	background-image: url('/img/il03--300w.png');
	background-position: center bottom;
}

h1 {
	margin-top: 0;
	margin-bottom: 0;

	font-size: 2em;

	color: rgb(68, 163, 233);
}

a {
	text-decoration: none;

	color: rgb(255, 255, 255);
}

a:hover {
	color: rgb(230, 102, 78);
}

[role='banner'] {
	padding-top: 4.5em;
	padding-bottom: 4.5em;
}


[role='banner'] a {
	display: block;

	width: 200px;
	height: 66px;

	padding-top: 1.5em;
	padding-bottom: 1.5em;
	margin: 0 auto;

	overflow: hidden;

	text-indent: 101%;
	white-space: nowrap;

	background-image: url('/img/it&e--200w.png');
	background-position: center center;
}

[role='contentinfo'] li {
	padding-bottom: 1.5em;
}

.twitter a::before {
	color: transparent;

	content: 'contato';
}

@media (min-width: 480px) {
	[role='banner'] a {
		width: 320px;
		height: 105.6px;

		background-image: url('/img/it&e--320w.png');
	}
}

@media (min-width: 1024px) {
	html {
		min-height: 498px;
	}

	body {
		display: table;

		width: 100%;
		max-width: 80em;

		margin-right: auto;
		margin-left: auto;

		text-align: left;

		table-layout: fixed;
		border-collapse: collapse;
	}

	body::before {
		display: table-cell;

		background-image: url('/img/il02--480w.png');
		background-position: center center;

		content: '';
	}

	.main-container {
		display: table-cell;

		vertical-align: middle;
	}

	main {
		padding-bottom: 4.5em;

		background-image: none;
	}

	[role='banner'],
	main,
	[role='contentinfo'] {
		max-width: 33em;

		padding-right: 0;
		padding-left: 0;
		margin-right: auto;
		margin-left: 0;
	}

	[role='banner'] a {
		margin-left: 0;

		background-position: left center;
	}
}

@media (min-width: 1208px) {
	html {
		background-position: 25% center;
	}
}
